<header>
    <nav class="navbar bg-danger navbar-light">
        <div class="container">
            <a ui-sref="home" class="navbar-brand">Countdown363</a>

            <ul class="list-unstyled d-flex">
                    <li class="ml-2">
                        <a ui-sref="about">About</a>
                    </li>
                    <li class="ml-2">
                        <a ui-sref="countdown({
                            name: 'Hanukkah',
                            date: '2018-12-09'
                        })">Hanukkah</a>
                    </li>
                    <li class="ml-2">
                        <a ui-sref="countdown({
                            name: 'Festivus',
                            date: '2018-12-23'
                        })">Festivus</a>
                    </li>
                    <li class="ml-2">
                        <a ui-sref="countdown({
                            name: 'Christmas',
                            date: '2018-12-25'
                        })">Christmas</a>
                    </li>
                    <li class="ml-2">
                        <a ui-sref="countdown({
                            name: 'Kwanza',
                            date: '2018-12-26'
                        })">Kwanza</a>
                    </li>
                    <li class="ml-2">
                        <a ui-sref="countdown({
                            name: 'New Years Day',
                            date: '2019-01-01'
                        })">New Years Day</a>
                    </li>
                </ul>
        </div>
    </nav>
</header>